<div class="main-content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                <div class="popuphead">
                    <div class="popup-header">
                        <div class="pop_head">
                            <p><span class="icon-search"></span>Electronics citrus juicer orange juicer press machine Lemon fruit extrator</p>
                        </div>
                        <div class="inter-bttn">
                            <a href="javascript:void(0)"><span class="icon-minus"></span></a>
                            <a href="javascript:void(0)"><span class="icon-rectangular"></span></a>
                            <a href="javascript:void(0)" (click)="closeDialog()"><span class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-body">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="OVERVIEW">
                    <div class="popup_innerbody">  
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card_head"><span class="icon-photo"></span>PHOTOS </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="swiper-container gallery-top">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">swiper0</div>
                                                <div class="swiper-slide">swiper1</div>
                                                <div class="swiper-slide">swiper2</div>
                                                <div class="swiper-slide">swiper3</div>
                                                <div class="swiper-slide">swiper4</div>
                                            </div>
                                            <div class="swiper-button-next swiper-button-white">next</div>
                                            <div class="swiper-button-prev swiper-button-white">Previous</div>
                                        </div>
                                        <div class="swiper-container gallery-thumbs">
                                            <div class="swiper-wrapper">
                                              <div class="swiper-slide">swiper0</div>
                                              <div class="swiper-slide">swiper1</div>
                                              <div class="swiper-slide">swiper2</div>
                                              <div class="swiper-slide">swiper3</div>
                                              <div class="swiper-slide">swiper4</div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                               <div class="card">
                                   <div class="card-header">
                                       <div class="inner_content">
                                            <div class="card_head"><span class="icon-info"></span>INFO</div>
                                            <div class="card-icons">
                                                <a href="javascript:void(0)"><span class="icon-delete"></span></a>
                                                <a href="javascript:void(0)"><span class="icon-add"></span></a>
                                                <a href="javascript:void(0)"><span class="icon-pen"></span></a>
                                                <a href="javascript:void(0)"><span class="icon-upload"></span></a>
                                            </div>
                                       </div>
                                   </div>
                                   <div class="card-body">
                                       <div class="row">
                                           <div class="col-md-6">
                                                <div class="details">
                                                   <h6>Title</h6>
                                                   <span>Electronics citrus juicer orange juicer press machine Lemon fruit extrator</span>
                                                   <hr>
                                                </div>
                                                <div class="details">
                                                    <h6>Subtitle</h6>
                                                    <span>-</span>
                                                    <hr>
                                                </div>
                                                <div class="details">
                                                    <h6>Current Sales Price</h6>
                                                    <span>$ 999.00</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="details-main">
                                                    <div class="details">
                                                        <h6>Status</h6>
                                                        <span>active</span>
                                                    </div>
                                                    <div class="details">
                                                        <h6>Remaining Time</h6>
                                                        <span>a month</span>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                   </div>
                               </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card_head"><span class="icon-list"></span> CATEGORY AND FORMAT</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="details">
                                                    <h6>Sales Format</h6>
                                                    <span>FixedPriceItem</span>
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="details">
                                                    <h6>First Category</h6>
                                                    <span>Juicers</span>
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="details">
                                                    <h6>First Shop Category</h6>
                                                    <span>-</span>
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="details">
                                                    <h6>Duration</h6>
                                                    <span>GTC</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="details">
                                                    <h6>Second Category</h6>
                                                    <span>-</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="details">
                                                    <h6>Second Shop Category</h6>
                                                    <span>-</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="DESCRIPTION">Content 2</mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>