<div class="login">
    <div class="container-fluid p-0">
        <div class="login-content">
            <div class="login-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="login-details">
                            <div class="login-head">
                                <p class="log-in">Log In</p>
                                <p class="login-desc">Login to access dewabit web</p>
                            </div>
                            <div class="login-user-details">
                                <mat-form-field appearance="outline" class="user-input">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput placeholder="E-mail" required>
                                </mat-form-field>
                            </div>
                            <div class="login-user-details">
                                <mat-form-field appearance="outline" class="user-input">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password" required>
                                </mat-form-field>
                            </div>
                            <div class="forgot">
                                <a href="javascript:void(0)">Forgot Password?</a>
                            </div>
                            <div class="clear"></div>
                            <div class="login-bttn">
                                <button class="login_bttn"><span class="icon-login"></span>LOG IN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
            <div class="footer-data">
                <div class="container">
                    <div class="foot-details">
                        <ul>
                            <li><a href="javascript:void(0)">Home Page</a></li>
                            <li><a href="javascript:void(0)">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>