
<div class="main-content">

    <!-- MOBILE HEADER -->
    <div *ngIf= "isOpen" class="menu-mobile">
        <div class="menu-header">
            <!-- <a href="javascript:void(0)" class="logo-brand"><img src="../../assets/images/enlos-solutions.png" alt="Logo"></a> -->
            <a href="javascript:void" class="logo-details"><span>Enlos Solutions</span></a>
            <a href="javascript:void(0)" class="menu-close"(click)="isOpenMenu()"><i class="fas fa-bars"></i></a>
        </div>
        <div class="menu-body">
            <nav>
                <ul>
                    <li>
                        <div class="navbar-collapse">
                            <!-- <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <select matNativeControl>
                                    <option value="volvo">Profile</option>
                                    <option value="saab">Logout</option>
                                </select>
                            </mat-form-field> -->
                            <ul>
                                <li><a href="javascript:void(0)">Profile</a></li>
                                <li><a href="javascript:void(0)">Change Password</a></li>
                                <li><a href="javascript:void(0)">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- HEADER -->
    <header>
        <div class="main-header">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler sidemenu" (click)="isOpenDashMenu()" type ="button"><span class="icon-add"></span></button>
                <!-- <a href="javascript:void(0)" class="logo-brand navbar-brand"><img src="../../assets/images/enlos-solutions.png" alt="LOGO"></a> -->
                <a href="javascript:void(0)" class="logo-details"><span>Enlos Solutions</span></a>
                <button class="navbar-toggler" type="button" (click)="isOpenMenu()">
                    <span class="icon-list"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbar">
                    <!-- <div class="user-name">
                        <h5><span class="icon-refresh"></span>UTKARSH_54</h5>
                    </div> -->
                    <!-- <div class="user-details">
                    <h5><span class="icon-like"></span>Feedback</h5>
                    
                    </div> -->
                    <!-- <h5><span class="icon-user"></span>TEST TEST</h5> -->
                    <!-- <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <select matNativeControl>
                            <option value="volvo">Profile</option>
                            <option value="saab">Logout</option>
                        </select>
                    </mat-form-field> -->
                    <div class="header-user" (click)="userDetail()">
                        <span class="icon-user"></span>
                        <div class="user-data" *ngIf="isUser">
                            <ul>
                                <li><a href="javascript:void(0)">Profile</a></li>
                                <li><a href="javascript:void(0)">Change Password</a></li>
                                <li><a href="javascript:void(0)">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- MOBILE SIDEMENU -->
    <div *ngIf="isDashboardMenu" class="side-menu-mob">
        <div class="close-menu">
            <a href="javascript:void(0)" class="menu-close" (click)="isOpenDashMenu()"><span class="icon-close"></span></a>
        </div>
        <div class="all-menu-details">
            <ul>
                <li [ngClass]="addClass">
                    <a href="javascript:void(0)" (click)="selectOpenDiv('dashboard')">
                        <span class="icon-uparrow arrow-left">
                        </span><span class="icon-report"></span>Dashboard</a>
                    <div class="sub-details">
                        <ul class= "serv-show">
                            <li><a href="javascript:void(0)"><span class="icon-growth"></span>Overview</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-content"></span>Blog & News</a></li>
                        </ul>
                    </div>
                </li>
                <li [ngClass]="itemsAdd">
                    <a href="javascript:void(0)" (click)="selectOpenDiv('items')"><span class="icon-uparrow arrow-left"></span><span class="icon-list"></span>Items</a>
                    <div class="sub-details">
                        <ul>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Active(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Prepared(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Sold(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Not Sold(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Drafts(0)</a></li>
                        </ul>
                    </div>
                </li>
                <li [ngClass]="ordersAdd">
                    <a href="javascript:void(0)" (click)="selectOpenDiv('orders')"><span class="icon-uparrow arrow-left"></span><span class="icon-shopping-cart"></span>Orders(0)</a>
                    <div class="sub-details">
                        <ul>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Shipping Pending(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Payment Pending(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Paid & Shipped(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Aborts / Problems Sold(0)</a></li>
                        </ul>
                    </div>
                </li>
                <li [ngClass]="newsAdded">
                    <a href="javascript:void(0)" (click)="selectOpenDiv('newsAdd')"><span class="icon-uparrow arrow-left"></span><span class="icon-mail"></span>News</a>
                    <div class="sub-details">
                        <ul>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Inbox(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Sent(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Draft(0)</a></li>
                            <li><a href="javascript:void(0)"><span class="icon-folder"></span>Spam(0)</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div> 


    <!-- SIDEBAR -->
    <div class="side-menu">
        <div class="left-menu">
            <!-- <div class="nav-top">
                <div class="top-data">
                    <span class="icon-clock"></span>
                </div>
                <div class="top-data">
                    <span class="icon-clock"></span>
                </div>
            </div> -->
            <!-- <div class="filter-data">
                <input type="text" >
                <span class="icon-files-and-folders"></span>
            </div> -->
            <div class="all-menu-details">
                <ul>
                    <li [ngClass]="addClass">
                        <a href="javascript:void(0)" (click)="selectOpenDiv('dashboard')"><span class="icon-uparrow arrow-left"></span><span class="icon-report"></span>Dashboard</a>
                        <div class="sub-details">
                            <ul class="feat-show">
                                <li><a href="javascript:void(0)"><span class="icon-growth"></span>Overview</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-content"></span>Blog & News</a></li>
                            </ul>
                        </div>
                    </li>
                    <li [ngClass]="itemsAdd">
                        <a href="javascript:void(0)" (click)="selectOpenDiv('items')"><span class="icon-uparrow arrow-left"></span><span class="icon-list"></span>Items</a>
                        <div class="sub-details">
                            <ul >
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Active(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Prepared(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Sold(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Not Sold(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Drafts(0)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li [ngClass]="ordersAdd">
                        <a href="javascript:void(0)" (click)="selectOpenDiv('orders')"><span class="icon-uparrow arrow-left"></span><span class="icon-shopping-cart"></span>Orders(0)</a>
                        <div class="sub-details">
                            <ul>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Shipping Pending(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Payment Pending(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Paid & Shipped(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Aborts / Problems Sold(0)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li [ngClass]="newsAdded">
                        <a href="javascript:void(0)" (click)="selectOpenDiv('newsAdd')"><span class="icon-uparrow arrow-left"></span><span class="icon-mail"></span>News</a>
                        <div class="sub-details">
                            <ul>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Inbox(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Sent(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Draft(0)</a></li>
                                <li><a href="javascript:void(0)"><span class="icon-folder"></span>Spam(0)</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <div class="inner-content">
        <div class="inner-header">
            <div class="active-article" (click)="openDialog()">
                <a href="javascript:void(0)"><span class="icon-list"></span>
                    Active Article 
                </a>
                <!-- <button kendoButton *ngIf="!opened" (click)="openClose(true)"><span class="icon-list"></span>Active Articles</button> -->
                <!-- <kendo-window title="Electronics citrus juicer orange juicer press machine Lemon fruit extrator" [(state)]="windowState" *ngIf="opened" (close)="openClose(false)">
                    
                </kendo-window> -->
            </div>
            <div class="article-filter">
                <a href="javascript:void(0)"><span class="icon-rectangular"></span></a>
                <a href="javascript:void(0)"><span class="icon-filter-remove"></span></a>
                <a href="javascript:void(0)"><span class="icon-sync"></span></a>
            </div>
        </div>
        <div class="inner-body">
            <div class="inner-container">
                
            </div>
        </div>
    </div>
</div>