<div class="login">
    <div class="container-fluid p-0">
        <div class="login-content">
            <div class="login-data forgot-pwd">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-details">
                            <div class="login-head">
                                <p class="log-in">Forgot Your Password?</p>
                                <p class="login-desc">Confirm your email and we will send you further instructions</p>
                            </div>
                            <form #ngForm="ngForm">
                                <div class="login-user-details">
                                    <mat-form-field appearance="outline" class="user-input">
                                        <mat-label>E-mail</mat-label>
                                        <input matInput placeholder="E-mail" name="email" required>
                                        <mat-error >Please enter email</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="login-bttn">
                                    <button class="login_bttn">Continue</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>